:root {
   --primary-color: #520dc2;
   --secondary-color: #f0e7fe;
}
body,
h1,
h2,
h3,
h4 {
   font-family: "Manrope", sans-serif;
}
body {
   font-size: 17px;
   line-height: 1.8;
}
h1 {
   font-weight: 800;
   font-size: 200px;
   color: var(--secondary-color);
}
h2 {
   font-weight: 400;
   font-size: 44px;
}
.services,
.portfolio,
.prices,
.contact {
   padding: 100px 0;
}
.second-serv {
   margin-top: 70px;
}
.third-serv {
   margin-top: 140px;
}
.portfolio {
   background-color: #1f0549;
}
.portfolio h1 {
   opacity: 0.3;
}
.contact {
   background-color: #140330;
}
.contact h1 {
   font-weight: 800;
   font-size: 82px;
}
.btn {
   background-color: #520dc2;
   color: #f0e7fe;
   padding: 16px 40px;
   font-size: 17px;
   text-transform: uppercase;
}
.btn:hover {
   border: 1px #f0e7fe solid;
   color: #f0e7fe;
   background-color: transparent;
}
footer {
   background-color: #0a0218;
   padding: 35px 0 15px 0;
}
.webLink {
   color: #fff;
   text-decoration: none;
}
.authorLink {
   color: #b388f9;
   text-decoration: none;
}
.webLink:hover {
   color: #fff;
}
.authorLink:hover {
   color: #b388f9;
}

@media all and (max-width: 1280px) {
   h1 {
      font-size: 140px;
   }
   h2 {
      font-size: 40px;
   }
   body {
      font-size: 16px;
   }
   .contact h1 {
      font-size: 64px;
   }
   .btn {
      padding: 14px 36px;
   }
   .services,
   .portfolio,
   .prices,
   .contact {
      padding: 80px 40px;
   }
}

@media all and (max-width: 992px) {
   h1 {
      font-size: 100px;
   }
   h2 {
      font-size: 54px;
   }
   body {
      font-size: 22px;
   }
   .contact h1 {
      font-size: 64px;
   }
   .btn {
      padding: 14px 36px;
   }
   .services,
   .portfolio,
   .prices,
   .contact {
      padding: 80px 40px;
   }
   .second-serv {
      margin-top: 50px;
   }
   .third-serv {
      margin-top: 50px;
   }
}

@media all and (max-width: 576px) {
   h1 {
      font-size: 48px;
   }
   h2 {
      font-size: 30px;
   }
   body {
      font-size: 15px;
   }
   .contact h1 {
      font-size: 44px;
   }
   .services,
   .portfolio,
   .prices,
   .contact {
      padding: 40px 20px;
   }
   .services h1,
   .portfolio h1,
   .prices h1 {
      margin-bottom: 20px !important;
   }
   .second-serv {
      margin-top: 20px;
   }
   .third-serv {
      margin-top: 20px;
   }
   footer {
      font-size: 14px;
      padding: 25px 0 10px 0;
   }
}
